body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    text-align: center;
}

.parallax:nth-child(odd)
{
    background-image: url('https://images.unsplash.com/photo-1548455479-565f000e9217?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.parallax:nth-child(even)
{
    background-image:('https://images.unsplash.com/photo-1548455479-565f000e9217?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.content{
    padding: 50px;
    text-align: center;
}